# Database
datasource.driver=com.mysql.cj.jdbc.Driver
datasource.url=jdbc:mysql://<dominio>:3306/ms_administracion_de_archivos?useLegacyDatetimeCode=false&serverTimezone=UTC
datasource.username=<usuario de la base de datos>
datasource.password=<contraseña de la base de datos>

hibernate.dialect=org.hibernate.dialect.MySQLDialect
hibernate.show_sql=true
hibernate.current.session.context.class=org.springframework.orm.hibernate5.SpringSessionContext